<section class="section call-to-action footerDiv">
    <div class="container is-narrow">
        <div class="box box-overwrite">
            <div class="columns level">
                <div class="column level-item" style="display: unset;">
                    <h1 class="title" style="text-align: center; color:#2a327d">Start a project</h1>
                </div>
                <div class="column level-item">
                    <p class="blackClr">Interested in working together? We should queue up a chat. </p>
                </div>
                <div class="column level-item blackClr"  style="display: flex;"><a class="button is-primary is-outlined is-rounded is-medium blackClr mobileCenteredDiv"
                        href="/contact">Let's do this</a></div>
            </div>
        </div>
    </div>
</section>

<footer class="section  is-small has-text-centered">
    <div id="social">
        <!-- <a class="facebookBtn smGlobalBtn" href="#"></a> -->
        <!-- <a class="twitterBtn smGlobalBtn" href="#"></a> -->
        <!-- <a class="googleplusBtn smGlobalBtn" href="#"></a> -->
        <a class="linkedinBtn smGlobalBtn" href="https://www.linkedin.com/in/tushar-krishna-panumatcha-9a5147194/"></a>
        <a class="fa fa-github githubBtn smGlobalBtn" href="https://github.com/tusharpanumatcha"></a>
        <a class="fa fa-stack-overflow stackOverflowBtn smGlobalBtn" href="https://stackoverflow.com/users/12144554/tushar-krishna"></a>
    </div>
    <div class="container is-narrow">
        <div class="copyright">Copyright &copy; 2021 Tushar Krishna</div>
        <!-- <div class="made-by-bulma"><a href="https://bulma.io">Love</a></div> -->
    </div>
</footer>

<!-- fb, tw, lin, stac, gitnub -->