<section class="section skills has-text-centered">
    <div class="container is-narrow">
        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile textLeft txtWhite">Certifications</h1>

      <div class="box">
        <div class="content">
          <div class="columns is-centered">
            <div class="column">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="assets/images/azure.png" alt="Cloudy Sky">
                    </div>
                    <div class="col-sm-9">
                        <h1 class="title is-size-4 is-spaced textLeft bolder">Microsoft Azure Certified Developer – Associate</h1>
                        <p class="textLeft">I value simple content structure, clean design patterns, and thoughtful interactions.
                            I value simple content structure, clean design patterns, and thoughtful interactions.
                        </p>
                        <div class="list-title has-text-primary has-text-weight-normal textLeft row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <span class="bolder">Certification ID: </span> 990525640
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <span class="bolder">Expiry Date: </span> October 29, 2022
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>