<section class="section is-medium is-primary is-long bgImg">
    <div class="container">
      <h1 class="title is-size-3-desktop is-size-4-tablet is-size-5-mobile">Hi, I’m Tushar. Nice to meet you</h1>
      <div class="columns is-centered">
        <div class="column ">
          <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">About Me</h1>
          <h2 class="subtitle is-size-5-desktop">A full stack developer with a proven track record in designing
            websites, networking and managing databases with an experience of more than {{currentYear - 2017}} years. I have strong technical
            skills as well as excellent interpersonal skills, enabling me to interact with a wide range of clients. I am
            eager to be challenged in order to grow and further improve my IT skills. My greatest passion in life is using
            my technical skills to benefit others and organisations.</h2>
        </div>
      </div>
    </div>
  </section>