.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #ddd;
    width: 100%;
    text-align: left;
    margin-top: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .main-title {
    color: #fff;
    text-align: left;
  }