<section class="main-landing has-text-centered">
  <div class="landing-body">
    <div class="container">
      <div class="columns is-centered">
        <h1 class="heading title is-size-1-desktop main-title"  [@slideInLeft]="animationState">Tushar Krishna</h1>
        <h2 class="heading subtitle is-size-4-desktop" style="line-height: inherit;"  [@slideInLeft]="animationState">I'm a <b><u>full-stack
              developer</u></b> who has work experience on end to end of web application development</h2>
        <img class="avatar"  [@slideInUp]="animationState" src="assets/images/avatar.png" style="margin-bottom: 0">
      </div>
    </div>
  </div>
</section>