<section class="section startups bgImg" style="padding-top: 2rem; margin-top: 1rem;">
    <div class="container is-narrow">
        <div class="startup-grid">
            <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile" style="color: #fff;">Work Experience</h1>

            <div class="columns is-multiline level  has-text-centered">
                <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
                    <div class="box">
                        <div style="text-align: justify !important;">
                            <h1 class="title is-size-4 is-spaced">Graduate Assistant</h1>
                            <div class="row">
                                <div class="col-sm-6 has-text-centered">
                                    <img class="logo" style="border: 1px solid #ddd;" src="assets/images/utk-fs-logo.png">
                                </div>
                                <div class="col-sm-6" style="text-align: left !important; margin-top: 15px">
                                    <span
                                        class="list-title has-text-primary has-text-weight-normal">Company-Name:</span>
                                    <span> UTK Facility Services</span>
                                    <br>
                                    <span class="list-title has-text-primary has-text-weight-normal">Location:</span>
                                    <span> Knoxville(U.S.A)</span>
                                    <br>
                                    <span class="list-title has-text-primary has-text-weight-normal">Duration:</span>
                                    <span> August 2022 - Present</span>
                                    <br>
                                    <br>
                                    <br>
                                    <a class="button is-primary is-outlined is-rounded" href="https://fs.utk.edu/"
                                        target="_blank"><span>Visit Website</span><span class="icon"><svg
                                                class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true"
                                                focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                                                data-fa-i2svg="">
                                                <path fill="currentColor"
                                                    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                                </path>
                                            </svg><!-- <i class="fas fa-angle-right"></i> --></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
                    <div class="box">
                        <div style="text-align: justify !important;">
                            <h1 class="title is-size-4 is-spaced">Software Programmer</h1>
                            <div class="row">
                                <div class="col-sm-6 has-text-centered">
                                    <img class="logo" style="border: 1px solid #ddd;" src="assets/images/siemens-logo.jpg">
                                </div>
                                <div class="col-sm-6" style="text-align: left !important; margin-top: 15px;">
                                    <span
                                        class="list-title has-text-primary has-text-weight-normal">Company-Name:</span>
                                    <span> Siemens Technologies india</span>
                                    <br>
                                    <span class="list-title has-text-primary has-text-weight-normal">Location:</span>
                                    <span> Bangalore</span>
                                    <br>
                                    <span class="list-title has-text-primary has-text-weight-normal">Duration:</span>
                                    <span> August 2021 - August 2022</span>
                                    <br>
                                    <br>
                                    <br>
                                    <a class="button is-primary is-outlined is-rounded"
                                        href="https://www.siemens.com/" target="_blank"><span>Visit
                                            Website</span><span class="icon"><svg
                                                class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true"
                                                focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                                                data-fa-i2svg="">
                                                <path fill="currentColor"
                                                    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                                </path>
                                            </svg><!-- <i class="fas fa-angle-right"></i> --></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-multiline level  has-text-centered">
                <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
                    <div class="box">
                        <div style="text-align: justify !important;">
                            <h1 class="title is-size-4 is-spaced">Senior Software Engineer</h1>
                            <div class="row">
                                <div class="col-sm-6 has-text-centered">
                                    <img class="logo" style="border: 1px solid #ddd;" src="assets/images/Lister_logo.jpg">
                                </div>
                                <div class="col-sm-6" style="text-align: left !important; margin-top: 15px">
                                    <span
                                        class="list-title has-text-primary has-text-weight-normal">Company-Name:</span>
                                    <span> Lister Technologies.</span>
                                    <br>
                                    <span class="list-title has-text-primary has-text-weight-normal">Location:</span>
                                    <span> Chennai</span>
                                    <br>
                                    <span class="list-title has-text-primary has-text-weight-normal">Duration:</span>
                                    <span>  November 2020 - August 2021</span>
                                    <br>
                                    <br>
                                    <br>
                                    <a class="button is-primary is-outlined is-rounded" href="https://listerdigital.com/"
                                        target="_blank"><span>Visit Website</span><span class="icon"><svg
                                                class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true"
                                                focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                                                data-fa-i2svg="">
                                                <path fill="currentColor"
                                                    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                                </path>
                                            </svg><!-- <i class="fas fa-angle-right"></i> --></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-12-mobile is-half-tablet is-one-third-desktop level-item">
                    <div class="box">
                        <div style="text-align: justify !important;">
                            <h1 class="title is-size-4 is-spaced">Junior Software Engineer</h1>
                            <div class="row">
                                <div class="col-sm-6 has-text-centered">
                                    <img class="logo" style="border: 1px solid #ddd;" src="assets/images/ofs-logo.png">
                                </div>
                                <div class="col-sm-6" style="text-align: left !important; margin-top: 15px;">
                                    <span
                                        class="list-title has-text-primary has-text-weight-normal">Company-Name:</span>
                                    <span> ObjectFrontier Software (OFS)</span>
                                    <br>
                                    <span class="list-title has-text-primary has-text-weight-normal">Location:</span>
                                    <span> Chennai</span>
                                    <br>
                                    <span class="list-title has-text-primary has-text-weight-normal">Duration:</span>
                                    <span> July 2017 - November 2020</span>
                                    <br>
                                    <br>
                                    <br>
                                    <a class="button is-primary is-outlined is-rounded"
                                        href="https://www.objectfrontier.com/" target="_blank"><span>Visit
                                            Website</span><span class="icon"><svg
                                                class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true"
                                                focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                                                data-fa-i2svg="">
                                                <path fill="currentColor"
                                                    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                                </path>
                                            </svg><!-- <i class="fas fa-angle-right"></i> --></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>