<section class="section has-text-centered">
    <div class="container is-narrow">
      <div class="callout">
        <div class="columns is-centered">
          <div class="column">
            <h1 class="title is-spaced">Interested in collaborating or investing?</h1>
            <h2 class="subtitle is-size-5-desktop">I’m always open to discussing product design work or partnership opportunities.</h2><a class="button is-primary is-outlined is-rounded is-medium" href="/contact">Start a conversation</a>
          </div>
        </div>
      </div>
    </div>
  </section>